conda install python=2.7

# conda install -c anaconda gfortran_osx-64
conda install -c anaconda gfortran_linux-64

KEY_MODELLER=MODELIRANJE conda install -c salilab modeller

conda install -c lcbio cabs

conda install -c salilab dssp

pip install git+https://vkjcjkv@bitbucket.org/lcbio/aggrescan3d.git

# #go to this
# ~/miniconda3/envs/agg3d/lib/python2.7/site-packages/CABS/pdblib.py
# #change this
# proc = Popen([self.DSSP_COMMAND, '/dev/stdin'], stdin=PIPE, stdout=PIPE, stderr=PIPE)
# #to this
# proc = Popen(['mkdssp', '/dev/stdin'], stdin=PIPE, stdout=PIPE, stderr=PIPE)
